nav ul{
    margin-top: 44px;
    left: -20%;
}

.menu-icon{
    width: 20px;
    height: 2px;
    background: white;
    transform: translateY(50%);
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.menu-icon::before,
.menu-icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: white;
    transition: 0.5s;
    border-radius: 5px;
}

.menu-icon::before{
    top: -5px;
}

.menu-icon::after{
    top: 5px;
}

.menu-icon.active{
    background-color: rgba(0, 0, 0, 0);
}

.menu-icon.active::before{
    top: 0;
    transform: rotate(45deg);
}

.menu-icon.active::after{
    top: 0;
    transform: rotate(135deg);
}


.bnt-carrinho{
    display: flex;
    gap: 50px;
}

.carrinho-compra{
    width: 70px;
    height: 50px;
    border: none;
}


.btn-login{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #002b4b ;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-login:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

button{
    position: relative;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color:  #4bb6b7;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

button:hover{
    letter-spacing: 2px;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost{
    background-color: rgb(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
}

button.ghost i{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

button.ghost i.register{
    right: 70px;
}

button.ghost i.login{
    left: 70px;
}
button.ghost:hover i.register{
    right: 40px;
}

button.ghost:hover i.login{
    left: 40px;
    opacity: 1;
}










h1.title{
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    text-shadow: 0 0 10px rgb(16, 64, 74, 0.5);
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 15px;
    color: white;
}

.sub-titulo{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgb(16, 64, 74, 0.5);
}