.user-btn-edit-address {
    width: 400px;
    height: 40px;
    background-color: var(--cor-btn);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    vertical-align: middle;
}

.user-address-edit-btn, .user-address-delete-btn{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: #fafafa;
}

.dialog-button-close, .dialog-button-edit, .dialog-address-button-close {
    text-align: center;
    width: 20%;
    height: 100%;
    background-color: var(--cor-btn);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    vertical-align: middle;
}

.dialog-button-close, .dialog-address-button-close{
    background-color: red;
    color: #fafafa;
}

.user-address-edit-btn:hover, .user-address-delete-btn:hover{
    color: var(--cor-fundo);
    text-decoration: underline;
}

.user-address-card-btn {
    width: 450px;
    height: 40px;
    background-color: var(--cor-btn);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    vertical-align: middle;
}

.user-data-remove a {
    border: none;
    background-color: var(--cor-fundo);
}

/*  Código Gabriel */

.btn-login{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFD411;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.entrar{
    display: flex;
    gap: 50px;
    margin-right: 20px;
}

.menu-icon{
    width: 20px;
    height: 2px;
    background: white;
    transform: translateY(50%);
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.menu-icon::before,
.menu-icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: white;
    transition: 0.5s;
    border-radius: 5px;
}

.menu-icon::before{
    top: -5px;
}

.menu-icon::after{
    top: 5px;
}

.menu-icon.active{
    background-color: rgba(0, 0, 0, 0);
}

.menu-icon.active::before{
    top: 0;
    transform: rotate(45deg);
}

.menu-icon.active::after{
    top: 0;
    transform: rotate(135deg);
}

/*  Fim Código Gabriel */

