.imgs-cards{
    width: 100%;
    border-radius: 10px;
}

.card{
    width: 20%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 10px;
    border-radius: 15px;
    margin: 20px 60px;
    height: 20%;    
    background-color: white;
    /* background-color: #04538f;
    color: white; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.cards-pai{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cards-pai2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.card2{
    width: 20%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 10px;
    border-radius: 15px;
    margin: 60px;
    height: 20%;    
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


.card-price{
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.card-price span{
    font-size: 15px;
}

.card-button{
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.733);
}

.card-prices{
    margin-top: 30px;
}

.card-prices p{
    margin-top: -10px;
    margin-bottom: 15px;
}

.card-button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.6s;
    cursor: pointer;
}


@media screen and (max-width:1217px){
    .card{
        height: 13%;    
    }
}


/* Ajustes responsivos */
@media screen and (max-width: 1217px) {
    .card {
        height: auto;    
    }
}


.cardsPai_produtos{
    margin-top: 250px;
    width: 50%;
    margin-left: 30%;
}

#modeloCard{
    width: 70%;
    height: 450px;
}

.card-produto{
    width: 37% !important;
}

.bx-credit-card{
    font-size: 50px;
    color: rgb(126, 126, 6);
}

.bx-money-withdraw{
    font-size: 50px;
    color: green;
}

/* .cardsPai_produtos-pr{
    width: 19%;
    height: 400px;
} */

#modeloCard2{
    width: 34%;
    height: 450px;
}

.card-image{
    width: 275px;
}

.card-image2{
    width: 100%;
}

