.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 100px;
}

.carrinho-container{
    margin-top: 10%;
    background-color: transparent;
    width: 80%;
    border-radius: 0;
}

.section {
    background-color: #0E3873;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.product {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.product-image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f58025;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #f58025;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resume {
    background-color: #0E3873;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

.resume-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f58025;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button-primary:hover{
    padding: none;
}

.quantidade{
    margin-top: -80px;
    margin-bottom: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho-container{
    box-shadow: none;
}