.container-pedidos {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 80px;
    margin-left: 10%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.info-item {
    flex: 1;
    padding: 12px;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.info-data {
    color: #333333;
}

.section-pedidos{
    margin-top: 15%;
}

.pedidos{
    margin-left: 39%;
}

.header-pedidos{
    position: fixed;
    top: 0;
}

.pedidos-body{
    height: 10vh;
}