.links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin-bottom: 50px;
    /* flex-wrap: wrap; */
}

.imgs-icons{
    width: 40%;
    height: 65%;
}

.div0{
    background-color: #ffd311;
    width: 18%;
    height: 5%;
    text-align: center;
    border-radius: 6%;
    margin-top: 950px;
}

.div0:hover{
    cursor: pointer;
}

.div0 p{
    font-size: clamp(0.5rem, 1.4vw, 15rem);
    color: white;
}

.section1{
    margin-bottom: -5px;
}

.section2{
    display: flex;
    justify-content: center;
}

.section2 a{
    text-decoration: none;
    color: black;
}

#comp{
    background-color: red;
}

#add{
    background-color: green;
}


.nc{
    color: red;
}

.av{
    color: green;
}

.img-carrinho{
    width: 20px;

}

.desativar:hover {
    transform: none;
    transition: none;
}

.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.produtos_produtos{
    /* width: 50%;
    margin-left: 40%; */
    display: flex;
}

.tabela-navegacao{
    margin-top: 220px;
    width: 30%;
    position: fixed;
    margin-left: -50%;
    height: 39%;
}

.console-op{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}


.console{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
}


.console-op a{
    text-decoration: none;
    color: black;
}

.console-op a:hover{
    background-color: rgb(145, 142, 142);
    transition: all 0.5s;
}

.console-op{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    border-radius: 20px;
}

@media screen and (max-width:992px){
    .links-icons{
        margin-top: -100px;
        width: 80%;
    }

    .section1{
        display: flex;
        justify-content: center;
    }

    .div0{
        width: 25%;
        margin-top: 750px;
    }

    #modeloCard{
        width: 50%;
    }

}

.nome-loja{
    margin-top: 25%;
    position: absolute;
    color: white;
    font-size: clamp(0.5rem, 2vw, 5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.dados-pedidos{
    margin-top: 10%;
    margin-bottom: 20px;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 200px;
    gap: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    background-color: #002b4b;
}

#CPF{
    color: white;
}

.user-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.user-address-card{
    background-color: rgb(155, 152, 152);
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

.user-address-card h3{
    font-size: 30px;
    color: white;

}

.user-address-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testesste{
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.testesste p{
    color: black;
    font-size: 20px;
}

.user-address-edit-btn{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
    padding: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    margin-top: 13px;
    width: 5%;
    text-align: center;
    margin-left: 20px;
}

.scroll-buttons{
    margin-top: 53%;
}

.main-pai-pw{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    
}

.section-pai-pw{
    padding: 50px;
    background-color: #002b4b;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.bx-user-circle{
    font-size: 200px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.nome-campos-pw{
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    color: rgb(182, 181, 181);
}

.section-minha-c{
    display: flex;
    justify-content: center;
}

.main-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-main-editar{
    margin-top: 170px;
    padding: 30px;
    background-color: #002b4b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    font-size: clamp(0.5rem, 1.3vw, 5rem);
}
/* 
.d-flex-column{
    display: flex;
    gap: 50px;
} */


