.links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin-bottom: 50px;
    /* flex-wrap: wrap; */
}

.imgs-icons{
    width: 40%;
    height: 65%;
}

.div0{
    background-color: #ffd311;
    width: 18%;
    height: 5%;
    text-align: center;
    border-radius: 6%;
    margin-top: 950px;
}

.div0:hover{
    cursor: pointer;
}

.div0 p{
    font-size: clamp(0.5rem, 1.5vw, 15rem);
    color: white;
}

.section1{
    margin-bottom: -5px;
}

.section2{
    display: flex;
    justify-content: center;
}

.section2 a{
    text-decoration: none;
    color: black;
}

#comp{
    background-color: red;
}

#add{
    background-color: green;
}


.nc{
    color: red;
}

.av{
    color: green;
}

.img-carrinho{
    width: 20px;

}

.desativar:hover {
    transform: none;
    transition: none;
}

.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.produtos_produtos{
    /* width: 50%;
    margin-left: 40%; */
    display: flex;
}

.tabela-navegacao{
    margin-top: 220px;
    width: 30%;
    position: fixed;
    margin-left: -50%;
    height: 50%;
}

.console-op{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}


.console{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
}


.console-op a{
    text-decoration: none;
    color: black;
}

.console-op a:hover{
    background-color: rgb(145, 142, 142);
    transition: all 0.5s;
}

.console-op{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    border-radius: 20px;
}

@media screen and (max-width:992px){
    .links-icons{
        margin-top: -100px;
        width: 80%;
    }

    .section1{
        display: flex;
        justify-content: center;
    }

    .div0{
        width: 25%;
        margin-top: 750px;
    }

    #modeloCard{
        width: 50%;
    }

}

.nome-loja{
    margin-top: 25%;
    position: absolute;
    color: white;
    font-size: clamp(0.5rem, 2vw, 5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.dados-pedidos{
    margin-top: 10%;
    margin-bottom: 20px;
}