.products-info, .products-price{
    color: #fafafa;
}

.cart{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.products-info {
    margin-top: 20px;
}

.cart td, th{
    border: 1px solid #fafafa;
}

.cart table{
    width: 100%;
}

.cart thead {
    height: 50px;
}

.cart-qtd button{
    background-color: var(--cor-fundo);
    border: none;
    color: #fafafa;
    font-weight: bold;
    padding: 10px;
}

.cart-trash {
    width: 60px;
}