footer {
    background-color: var(--cor-footer);
    height: 100%;
    font-family: var(--fonte-open-sans);
}

svg {
    width: 50px;
    height: 50px;
}

.company-data {
    height: 20%;
    background-color: var(--cor-fundo);
    padding-top: 12px;
}

.company-info {
    height: 100%;
    padding: 15px 0 15px 0;
}

@media (max-width: 600px){
    .company-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact {
        margin-bottom: 10px;
    }

    .footer-social {
        margin-bottom: 25px;
    }
}