/* Código Gabriel */
.nav-princi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-footer);
    backdrop-filter: saturate(180%) blur(1px);/* Deixa o efeito "borrado" na nav */
}

.pesquisar {
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    width: 200px;
    font-size: 15px;
    margin-left: -33%;
}

.pesquisar:hover {
    cursor: pointer;
}

#logo{
    margin-left: -10%;
}

.carrinho-compra {
    height: 50px;
}

/* Fim código Gabriel */
