.user-address {
    width: 50%;
    height: 550px;
}

.user-address-title span{
    margin-right: 5px;
}

.user-address-card {
    padding: 5px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
    margin-bottom: 10px;
}

.user-address-card-text {
    margin-bottom: 5px;
}